**Introductory of python**

In [ ]:
print("Hello world")

Hello world

In [ ]:
x = 4
y = 2
z = 1
print(x+y+z)

7

In [ ]:
x = int(input("1st no."))
y = int(input("2nd no."))
z = x+y
print(z)
k = int(float(input("special no.")))
print(k)

1st no.4
2nd no.2
6
special no.2.5
2

In [ ]:
print(f'the sum of {x} and {y} is {z}')

the sum of 4 and 2 is 6

In [ ]:
x = 10
y = 3
result = x/y
print(result) // by defaul float point considered, // <- double division to make int

3.3333333333333335

In [ ]:
x = 10
y = 3
result = x//y
print(result)

3

Selection Statement

In [ ]:
x = 5
if x%2 == 0:
  print("true") 
  print("based")
else:
  print("false")

false

In [ ]:
x = 9
if x%3 !=0 and x%5 != 0:
  print(f"{x} is not divisible by 3 and 5")
elif x%3 ==0 and x%5 != 0:
  print(f"{x} is divisible by 3")
elif x%3 !=0 and x%5== 0:
  print(f"{x} is divisible by 5")
else:
  print(f"{x} is not divisible by both 3 and 5")

9 is divisible by 3

In [ ]:
x = 9
if (x%3 ==0 and x%5 != 0) or (x%3 !=0 and x%5== 0):
  print("Yes")
else:
  print("No")

Yes

**Loop **

In [ ]:
s = ""
for i in range(10):
 s = s + str(i) + " " 
 print(s)

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [ ]:
s = ""
for i in range(10):
 s = s + str(i) + " " 
print(s)

0 1 2 3 4 5 6 7 8 9

In [ ]:
s = ""
for i in range(5, 10):
 s = s + str(i) + " " 
print(s)

5 7 9

In [ ]:
s = ""
for i in range(5, 10, 2): //2 for jumps by 2 steps
 s = s + str(i) + " " 
print(s)

5 7 9

In [ ]:
s = ""
for i in range(20, 0, -3): 
 s = s + str(i) + " " 
print(s)

20 17 14 11 8 5 2

In [ ]:
x = 20
while x>=2:
  print(x)
  x-=2

20
18
16
14
12
10
8
6
4
2

**List**

In [ ]:
numbers = [2,3,5,6,8,9]
print(numbers)

[2, 3, 5, 6, 8, 9]

In [ ]:
numbers = [2,3,5,6,8,9]
print(numbers)
numbers.append(13)
print(numbers)

[2, 3, 5, 6, 8, 9]
[2, 3, 5, 6, 8, 9, 13]

In [ ]:
numbers = []
for i in range(5):
  x = int(input())
  numbers.append(i)
  print(i)

1
2
3
4
5
4

In [ ]:
numbers.insert(2,39)
print(numbers)

[0, 1, 39, 2, 3, 4]

In [ ]:
numbers.insert(len(numbers),29)
print(numbers)

[0, 1, 39, 2, 3, 4, 29]

In [ ]:
numbers.remove(2)
print(numbers)

[0, 1, 39, 3, 4, 29]

In [ ]:
def factorial(n):
  x = 1
  for i in range(1,n+1):
    x =x*i
  return x //will not run here only build

In [ ]:
print(factorial(5)) //run here

120